@import "variables";

@import "./normalize";
@import "components/pre-loader";
@import "components/navigation";
@import "components/header";
@import "components/about";
@import "components/projects";
@import "components/reference";
@import "components/contact";

body {
  background-color: #000;
  font-family: 'Raleway', sans-serif;

}

.disable {
  display: none;
}