body {
  background-color: #000;
  font-family: 'Raleway', sans-serif;
}

.about-title,
.projects-title,
.reference-title,
.contact-title {
  display: inline-block;
  padding: 5px 20px;
  margin-bottom: 0;
  font-size: 3rem;
  letter-spacing: 1px;
  text-transform: lowercase;
  color: #FFF;
}

.about-title span,
.projects-title span,
.reference-title span,
.contact-title span {
  margin: 0 30px;
  color: #cfa75c;
  font-size: 3.5rem;
}

.linear-border {
  height: 2px;
  margin: 0 auto;
  max-width: 50vw;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, rgba(23, 23, 23, 0)), color-stop(50%, #fdcb6e), color-stop(90%, rgba(23, 23, 23, 0)));
  background: linear-gradient(to right, rgba(23, 23, 23, 0) 10%, #fdcb6e 50%, rgba(23, 23, 23, 0) 90%);
}

.loading-container .let1 {
  -webkit-animation: drop 2s ease-in-out infinite;
          animation: drop 2s ease-in-out infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.loading-container .let2 {
  -webkit-animation: drop 2s ease-in-out infinite;
          animation: drop 2s ease-in-out infinite;
  -webkit-animation-delay: 2.1s;
          animation-delay: 2.1s;
}

.loading-container .let3 {
  -webkit-animation: drop 2s ease-in-out infinite;
          animation: drop 2s ease-in-out infinite;
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}

.loading-container .let4 {
  -webkit-animation: drop 2s ease-in-out infinite;
          animation: drop 2s ease-in-out infinite;
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}

.loading-container .let5 {
  -webkit-animation: drop 2s ease-in-out infinite;
          animation: drop 2s ease-in-out infinite;
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

.loading-container .let6 {
  -webkit-animation: drop 2s ease-in-out infinite;
          animation: drop 2s ease-in-out infinite;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.loading-container .let7 {
  -webkit-animation: drop 2s ease-in-out infinite;
          animation: drop 2s ease-in-out infinite;
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
}

@-webkit-keyframes drop {
  10% {
    opacity: 0.5;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes drop {
  10% {
    opacity: 0.5;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes moving {
  0% {
    background-position: 0 0;
  }
  10% {
    background-position: 0 0;
  }
  45% {
    background-position: 0 100%;
  }
  55% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes moving {
  0% {
    background-position: 0 0;
  }
  10% {
    background-position: 0 0;
  }
  45% {
    background-position: 0 100%;
  }
  55% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0 0;
  }
}

@-webkit-keyframes initialrotate {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes initialrotate {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@-webkit-keyframes antirotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

@keyframes antirotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.loading-page {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 10000;
  background: #171717;
}

.loading-page .loading-container {
  padding: 0;
  font-weight: 100;
  font-size: 2.6rem;
  color: #cfa75c;
}

.loading-page span {
  display: inline-block;
  text-transform: uppercase;
  opacity: 0;
}

nav {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: top 200ms ease-in-out;
  transition: top 200ms ease-in-out;
}

nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .container .navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 50vw;
}

nav .container .navbar-list .navbar-item {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav .container .navbar-list .navbar-link {
  margin: 5px 15px;
  padding: 5px 0;
  position: relative;
  display: inline-block;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 1.2rem;
  border-bottom: 1px solid #FDCB6E;
  color: #FFF;
}

nav .container .navbar-list .navbar-link::before {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 0;
  padding: 5px 0;
  overflow: hidden;
  border-bottom: 1px solid #FFF;
  color: #FDCB6E;
  content: attr(data-hover);
  white-space: nowrap;
  -webkit-transition: max-width 0.5s;
  transition: max-width 0.5s;
}

nav .container .navbar-list .navbar-link:hover::before, nav .container .navbar-list .navbar-link:focus::before {
  max-width: 100%;
}

.hamburger-menu {
  display: none;
}

@media (max-width: 992px) {
  nav {
    display: none;
  }
  .hamburger-menu {
    z-index: 99;
    position: fixed;
    display: block;
    max-height: 0;
  }
  .hamburger-menu .navicon {
    height: 80px;
    position: relative;
    display: block;
    z-index: 99;
    -webkit-transition: linear 0.5s all;
    transition: linear 0.5s all;
    outline: none;
  }
  .hamburger-menu .navicon:before, .hamburger-menu .navicon:after {
    width: 45px;
    height: 3px;
    position: absolute;
    margin: 20px 0 0 20px;
    background: #FFF;
    content: "";
    -webkit-transition: 0.8s ease;
    transition: 0.8s ease;
  }
  .hamburger-menu .navicon:before {
    -webkit-box-shadow: #FFF 0 14px 0 0;
            box-shadow: #FFF 0 14px 0 0;
    top: 0;
  }
  .hamburger-menu .navicon:after {
    top: 28px;
  }
  .hamburger-menu .navicon-active {
    margin-bottom: 12%;
    -webkit-transition: linear 0.5s all;
    transition: linear 0.5s all;
  }
  .hamburger-menu .navicon-active:before, .hamburger-menu .navicon-active:after {
    top: 15px;
    background-color: #FDCB6E;
  }
  .hamburger-menu .navicon-active:before {
    -webkit-box-shadow: transparent 0 0 0 0;
            box-shadow: transparent 0 0 0 0;
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
  .hamburger-menu .navicon-active:after {
    -webkit-transform: rotate(315deg);
            transform: rotate(315deg);
  }
  .hamburger-menu .toggle {
    display: block;
    min-width: 100vw;
    padding: 10%;
    opacity: 0;
    background-color: rgba(23, 23, 23, 0.9);
    -webkit-transition: ease-in 0.5s all;
    transition: ease-in 0.5s all;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
  }
  .hamburger-menu .toggle-active {
    margin-top: 25px;
    opacity: 1;
    -webkit-transition: ease-in 0.5s all;
    transition: ease-in 0.5s all;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  .hamburger-menu .toggle-menu {
    padding: 0;
  }
  .hamburger-menu .toggle-menu li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hamburger-menu .toggle-menu li a {
    padding: 15px 0;
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
  }
  .hamburger-menu .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  .hamburger-menu .social li {
    margin: 15px;
    list-style: none;
  }
  .hamburger-menu .social li a {
    color: #FDCB6E;
    font-size: 3rem;
    text-shadow: 0px 1px 1px #000;
  }
}

.jumbotron {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 100vh;
  margin: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.2))), url("../images/background-header.jpg");
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("../images/background-header.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.jumbotron-title {
  margin: 0;
  font-size: 5rem;
  font-weight: bold;
  color: #FFF;
  line-height: 1.3;
  text-shadow: 1px 1px 3px #000;
}

.jumbotron-subtitle {
  display: block;
  font-size: 3rem;
  color: #FDCB6E;
}

@media (max-width: 992px) {
  .jumbotron-title {
    padding: 5%;
    margin-bottom: 5%;
    font-size: 2.5rem;
  }
  .jumbotron-subtitle {
    margin-bottom: 50%;
    font-size: 2.2rem;
  }
  .jumbotron .black-bottom {
    display: none;
  }
}

.about {
  padding: 3% 0;
  text-align: center;
  background-color: #171717;
  -webkit-box-shadow: 0px 0px 50px 5px rgba(253, 203, 110, 0.5);
          box-shadow: 0px 0px 50px 5px rgba(253, 203, 110, 0.5);
}

.about-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3% 0;
}

.about-row .image-box {
  margin: 2%;
}

.about-row .image-box .photo {
  width: 100%;
  height: auto;
  -o-border-image: url(../images/border.svg) 50 50;
     border-image: url(../images/border.svg) 50 50;
  border-style: inset;
  border-width: 5px;
  border-image-width: 20;
}

.about-row .text-box {
  max-width: 35vw;
  margin: 2%;
}

.about-row .text-box p {
  text-align: left;
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  line-height: 2rem;
  letter-spacing: 2px;
  color: #FFF;
}

.about-row .text-box p::first-letter {
  font-size: 2rem;
  color: #cfa75c;
}

@media (max-width: 992px) {
  .about {
    padding: 3% 5%;
  }
  .about-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2rem;
    padding: 5px 5px;
  }
  .about-title span {
    margin: 0 8px;
    font-size: 3rem;
  }
  .about .linear-border {
    max-width: 80vw;
  }
  .about-row {
    margin: 8% 0;
  }
  .about-row .image-box {
    margin: 5% 0;
  }
  .about-row .text-box {
    max-width: 80vw;
  }
  .about-row .text-box p {
    font-size: 1.5rem;
    line-height: 3rem;
    letter-spacing: 1px;
  }
}

.projects {
  padding: 3% 0;
  text-align: center;
  -webkit-box-shadow: 0px 0px 50px 5px rgba(253, 203, 110, 0.5);
          box-shadow: 0px 0px 50px 5px rgba(253, 203, 110, 0.5);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7))), url("https://cdn.pixabay.com/photo/2018/02/16/10/52/beverage-3157395_960_720.jpg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7)), url("https://cdn.pixabay.com/photo/2018/02/16/10/52/beverage-3157395_960_720.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.projects-container {
  margin: 3% auto;
  padding: 3% 2%;
  max-width: 60vw;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 8px 60px 0 #161616;
          box-shadow: 0 8px 60px 0 #161616;
}

.projects-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.projects-row .project-box {
  margin-bottom: 4%;
  border: 3px solid rgba(253, 203, 110, 0.4);
  background-color: rgba(0, 0, 0, 0.5);
}

.projects-row .project-box .image {
  width: 300px;
  min-height: 200px;
  background-size: cover;
  background-position: 0 0;
  -webkit-animation: moving linear infinite;
          animation: moving linear infinite;
}

.projects-row .project-box [data-image="shop"] {
  -webkit-animation-duration: 50s;
          animation-duration: 50s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  background-image: url("../images/projects/shop.png");
}

.projects-row .project-box [data-image="sudoku"] {
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
  background-image: url("../images/projects/sudoku.png");
}

.projects-row .project-box [data-image="awax"] {
  -webkit-animation-duration: 100s;
          animation-duration: 100s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  background-image: url("../images/projects/awax.png");
}

.projects-row .project-box [data-image="country-app"] {
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  background-image: url("../images/projects/CountryApp.png");
}

.projects-row .project-box [data-image="kanban"] {
  -webkit-animation-duration: 30s;
          animation-duration: 30s;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  background-image: url("../images/projects/kanban.png");
}

.projects-row .project-box [data-image="group-project"] {
  -webkit-animation-duration: 80s;
          animation-duration: 80s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  background-image: url("../images/projects/group-project.png");
}

.projects-row .project-box .information {
  margin: 4% 0;
}

.projects-row .project-box .information-title {
  margin: 5% 0;
  color: #FDCB6E;
}

.projects-row .project-box .information .description {
  max-width: 300px;
  min-height: 90px;
  padding: 10px 15px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  color: #FFF;
}

.projects-row .project-box .information .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.projects-row .project-box .information .buttons .btn {
  background-color: rgba(253, 203, 110, 0.4);
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 0px;
  color: #000;
}

.projects-row .project-box .information .buttons .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.projects-row .project-box .information .buttons .btn:hover {
  background-color: rgba(253, 203, 110, 0.8);
}

@media (max-width: 992px) {
  .projects {
    padding: 3% 5%;
  }
  .projects-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2rem;
    padding: 5px 5px;
  }
  .projects-title span {
    margin: 0 8px;
    font-size: 3rem;
  }
  .projects .linear-border {
    max-width: 80vw;
  }
  .projects-container {
    background-color: inherit;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .projects-row .project-box {
    margin: 10%;
    max-width: 280px;
  }
  .projects-row .project-box .image {
    max-width: 274px;
  }
  .projects-row .project-box .information .title {
    font-size: 1.5rem;
  }
  .projects-row .project-box .information .description {
    font-size: 1.2rem;
  }
  .projects-row .project-box .information .buttons .btn {
    background-color: rgba(253, 203, 110, 0.7);
    font-size: 1.1rem;
  }
}

.reference {
  text-align: center;
  padding: 3% 0;
  background-color: #171717;
  -webkit-box-shadow: 0px 0px 50px 5px rgba(253, 203, 110, 0.5);
          box-shadow: 0px 0px 50px 5px rgba(253, 203, 110, 0.5);
}

.reference .icons-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 75vw;
  margin: 3% auto;
}

.reference .icons-row .box .iconbase {
  width: 150px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #FFF;
  -webkit-animation: initialrotate 300ms ease-in-out 1 forwards;
          animation: initialrotate 300ms ease-in-out 1 forwards;
}

.reference .icons-row .box .iconbase:hover {
  -webkit-animation: rotate 300ms ease-in-out 1 forwards;
          animation: rotate 300ms ease-in-out 1 forwards;
}

.reference .icons-row .box .iconbase:hover .icon {
  -webkit-animation: antirotate 300ms ease-in-out 1 forwards;
          animation: antirotate 300ms ease-in-out 1 forwards;
}

.reference .icons-row .box .icon-title {
  margin-top: 12%;
  color: #FDCB6E;
}

.reference .icons-row .box .rect {
  width: 150px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #171717;
}

.reference .icons-row .box .icon {
  width: 140px;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  text-decoration: none;
  background-color: #171717;
  font-size: 4rem;
}

.reference .icons-row .box .icon a {
  opacity: 0.8;
  color: #FDCB6E;
}

@media (max-width: 992px) {
  .reference {
    padding: 3% 5%;
  }
  .reference-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2rem;
    padding: 5px 5px;
  }
  .reference-title span {
    margin: 0 8px;
    font-size: 3rem;
  }
  .reference .linear-border {
    max-width: 80vw;
  }
  .reference .icons-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 90vw;
  }
  .reference .icons-row .box {
    margin: 10% 0;
  }
  .reference .icons-row .box .iconbase {
    -webkit-animation: none;
            animation: none;
  }
}

.contact {
  padding: 3% 0;
  text-align: center;
  -webkit-box-shadow: 0px 0px 50px 5px rgba(253, 203, 110, 0.5);
          box-shadow: 0px 0px 50px 5px rgba(253, 203, 110, 0.5);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.7))), url("../images/background-contact.jpg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7)), url("../images/background-contact.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.contact-container {
  margin: 3% auto;
  padding: 5% 5%;
  max-width: 45vw;
  background-color: #000;
  -webkit-box-shadow: 0px 0px 50px 0 rgba(0, 0, 0, 0.7);
          box-shadow: 0px 0px 50px 0 rgba(0, 0, 0, 0.7);
}

.contact-container label {
  min-width: 100%;
  text-align: left;
  color: #FDCB6E;
}

.contact-form {
  margin: 0 0 8% 0;
  padding: 3% 1%;
  min-width: 100%;
  color: #FFF;
  outline: none;
  font-size: 1.2rem;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-width: 1px;
  background-color: inherit;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.contact-form:valid {
  border-color: #FDCB6E;
}

.contact-form:invalid {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contact-form:focus {
  color: #FFF;
  border-bottom-color: #FDCB6E;
}

.contact-form:focus::-webkit-input-placeholder {
  opacity: 0;
}

.contact-form:focus:-ms-input-placeholder {
  opacity: 0;
}

.contact-form:focus::-ms-input-placeholder {
  opacity: 0;
}

.contact-form:focus::placeholder {
  opacity: 0;
}

.contact-form::-webkit-input-placeholder {
  opacity: 0.3;
  font-weight: 500;
  color: #FFF;
  text-transform: uppercase;
}

.contact-form:-ms-input-placeholder {
  opacity: 0.3;
  font-weight: 500;
  color: #FFF;
  text-transform: uppercase;
}

.contact-form::-ms-input-placeholder {
  opacity: 0.3;
  font-weight: 500;
  color: #FFF;
  text-transform: uppercase;
}

.contact-form::placeholder {
  opacity: 0.3;
  font-weight: 500;
  color: #FFF;
  text-transform: uppercase;
}

.contact .textarea {
  height: 160px;
}

.contact button {
  min-width: 200px;
  min-height: 50px;
  padding: 20px;
  border: 2px solid #FDCB6E;
  color: #FDCB6E;
  opacity: 0.7;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: inherit;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contact button:hover {
  opacity: 1;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(253, 203, 110, 0.85);
          box-shadow: 0px 0px 3px 1px rgba(253, 203, 110, 0.85);
}

.contact .footer {
  margin-top: 2%;
  letter-spacing: 1px;
  color: #FFF;
}

.contact .footer span {
  color: #FDCB6E;
}

@media (max-width: 992px) {
  .contact {
    padding: 3% 5%;
  }
  .contact-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2rem;
    padding: 5px 5px;
  }
  .contact-title span {
    margin: 0 8px;
    font-size: 3rem;
  }
  .contact .linear-border {
    max-width: 80vw;
  }
  .contact-container {
    margin: 10%;
    padding: 8% 8%;
    max-width: 80vw;
  }
  .contact-form {
    max-width: 20vw;
  }
  .contact button {
    min-width: 150px;
  }
}
/*# sourceMappingURL=style.css.map */