.about {
    padding: 3% 0;
    text-align: center;
    background-color: $background;
    box-shadow: $main-shadow;

    &-row {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 3% 0;

        .image-box {
            margin: 2%;

            .photo {
                @include size(100%, auto);

                border-image: url(../images/border.svg) 50 50;
                border-style: inset;
                border-width: 5px;
                border-image-width: 20;
            }
        }

        .text-box {
            max-width: 35vw;
            margin: 2%;

            p {
                text-align: left;
                font-size: 1.4rem;
                font-family: 'Roboto', sans-serif;
                line-height: 2rem;
                letter-spacing: 2px;
                color: $light-color;

                &::first-letter {
                    font-size: 2rem;
                    color: $primary-color;
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .about {
        padding: 3% 5%;

        &-title {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            padding: 5px 5px;

            span {
                margin: 0 8px;
                font-size: 3rem;
            }
        }

        .linear-border {
            max-width: 80vw;
        }

        &-row {
            margin: 8% 0;

            .image-box {
                margin: 5% 0;
            }

            .text-box {
                max-width: 80vw;

                p {
                    font-size: 1.5rem;
                    line-height: 3rem;
                    letter-spacing: 1px;
                }
            }
        }
    }
}