.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url('../images/background-header.jpg');

    &-title {
        margin: 0;
        font-size: 5rem;
        font-weight: bold;
        color: #FFF;
        line-height: 1.3;
        text-shadow: 1px 1px 3px #000;
    }

    &-subtitle {
        display: block;
        font-size: 3rem;
        color: #FDCB6E;
    }
}

@media (max-width: 992px) {

    .jumbotron {
        &-title {
            padding: 5%;
            font-size: 2.5rem;
            margin-bottom: 5%;
        }

        &-subtitle {
            margin-bottom: 50%;
            font-size: 2.2rem;
        }

        .black-bottom {
            display: none;
        }
    }
}