.projects {
    padding: 3% 0;
    text-align: center;
    box-shadow: $main-shadow;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.7)), url('https://cdn.pixabay.com/photo/2018/02/16/10/52/beverage-3157395_960_720.jpg');

    @include properties-background(center, fixed, cover);

    &-container {
        @include spacing(3% auto, 3% 2%);

        max-width: 60vw;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.3);
        box-shadow: 0 8px 60px 0 #161616;
    }

    &-row {
        display: flex;
        justify-content: space-around;

        .project-box {
            margin-bottom: 4%;
            border: 3px solid rgba(253, 203, 110, 0.4);
            background-color: rgba(0, 0, 0, 0.5);

            .image {
                width: 300px;
                min-height: 200px;
                background-size: cover;
                background-position: 0 0;
                animation: moving linear infinite;
            }

            [data-image="shop"] {
                @include animation-image(50s, 5s);

                background-image: url('../images/projects/shop.png');
            }

            [data-image="sudoku"] {
                @include animation-image(10s, 9s);

                background-image: url('../images/projects/sudoku.png');
            }

            [data-image="awax"] {
                @include animation-image(100s, 0s);

                background-image: url('../images/projects/awax.png');
            }

            [data-image="country-app"] {
                @include animation-image(20s, 8s);

                background-image: url('../images/projects/CountryApp.png');
            }

            [data-image="kanban"] {
                @include animation-image(30s, 7s);

                background-image: url('../images/projects/kanban.png');
            }

            [data-image="group-project"] {
                @include animation-image(80s, 2s);

                background-image: url('../images/projects/group-project.png');
            }

            .information {
                margin: 4% 0;

                &-title {
                    margin: 5% 0;
                    color: $secondary-color;
                }

                .description {
                    max-width: 300px;
                    min-height: 90px;
                    padding: 10px 15px;
                    font-family: 'Roboto', sans-serif;
                    letter-spacing: 1px;
                    color: $light-color;
                }

                .buttons {
                    display: flex;
                    justify-content: space-around;

                    .btn {
                        background-color: rgba(253, 203, 110, 0.4);
                        margin-bottom: 10px;
                        padding: 5px 10px;
                        border-radius: 0px;
                        color: #000;

                        &:focus {
                            box-shadow: none;
                        }

                        &:hover {
                            background-color: rgba(253, 203, 110, 0.8);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {
    .projects {
        padding: 3% 5%;

        &-title {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            padding: 5px 5px;

            span {
                margin: 0 8px;
                font-size: 3rem;
            }
        }

        .linear-border {
            max-width: 80vw;
        }

        &-container {
            background-color: inherit;
            box-shadow: none;
        }

        &-row {
            .project-box {
                margin: 10%;
                max-width: 280px;

                .image {
                    max-width: 274px;
                }

                .information {

                    .title {
                        font-size: 1.5rem;
                    }

                    .description {
                        font-size: 1.2rem;
                    }

                    .buttons {
                        .btn {
                            background-color: rgba(253, 203, 110, 0.7);
                            font-size: 1.1rem;
                        }
                    }
                }
            }
        }
    }
}