.reference {
    text-align: center;
    padding: 3% 0;
    background-color: $background;
    box-shadow: $main-shadow;

    .icons-row {
        display: flex;
        justify-content: space-around;
        width: 75vw;
        margin: 3% auto;

        .box {
            .iconbase {
                @include size(150px, 150px);
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background-color: #FFF;
                animation: initialrotate 300ms ease-in-out 1 forwards;

                &:hover {
                    animation: rotate 300ms ease-in-out 1 forwards;

                    .icon {
                        animation: antirotate_first 300ms ease-in-out 1 forwards;
                    }
                }

                .icon {
                    animation: antirotate_second 300ms ease-in-out 1 forwards;

                }
            }

            .icon-title {
                margin-top: 12%;
                color: $secondary-color;
            }

            .rect {
                @include size(150px, 70px);

                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $background;
            }

            .icon {
                @include size(140px, 140px);

                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                text-decoration: none;
                background-color: $background;
                font-size: 4rem;

                a {
                    opacity: 0.8;
                    color: $secondary-color;
                }
            }
        }
    }
}

@media (max-width: 992px) {

    .reference {
        padding: 3% 5%;

        &-title {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            padding: 5px 5px;

            span {
                margin: 0 8px;
                font-size: 3rem;
            }
        }

        .linear-border {
            max-width: 80vw;
        }

        .icons-row {
            flex-direction: column;
            align-items: center;
            width: 90vw;

            .box {
                margin: 10% 0;

                .iconbase {
                    animation: none;
                }
            }
        }
    }
}