body {
    background-color: #000;
    font-family: 'Raleway', sans-serif;
}

// Title section
.about-title,
.projects-title,
.reference-title,
.contact-title {
    display: inline-block;
    padding: 5px 20px;
    margin-bottom: 0;
    font-size: 3rem;
    letter-spacing: 1px;
    text-transform: lowercase;
    color: #FFF;

    span {
        margin: 0 30px;
        color: #cfa75c;
        font-size: 3.5rem;
    }
}

// Linear border 
.linear-border {
    height: 2px;
    margin: 0 auto;
    max-width: 50vw;
    background: linear-gradient(to right, rgba(23, 23, 23, 0) 10%, rgba(253, 203, 110, 1) 50%, rgba(23, 23, 23, 0) 90%);
}