.contact {
    padding: 3% 0;
    text-align: center;
    box-shadow: 0px 0px 50px 5px rgba(253, 203, 110, 0.5);
    background: linear-gradient(-30deg, #131313 0, #131313 50%, #171717 50%, #171717 100%);

    &-title {
        display: inline-block;
        padding: 5px 20px;
        margin-bottom: 0;
        font-size: 3rem;
        letter-spacing: 1px;
        text-transform: lowercase;
        color: #FFF;

        span {
            margin: 0 30px;
            color: #cfa75c;
            font-size: 3.5rem;
        }
    }

    .linear-border {
        height: 2px;
        margin: 0 auto;
        max-width: 50vw;
        background: linear-gradient(to right, rgba(23, 23, 23, 0) 10%, rgba(253, 203, 110, 1) 50%, rgba(23, 23, 23, 0) 90%);
    }


    &-container {
        margin: 3% auto;
        padding: 5% 5%;
        max-width: 45vw;
        background-color: #000;
        box-shadow: 0px 0px 50px 0 rgba(0, 0, 0, 0.7);

        label {
            min-width: 100%;
            text-align: left;
            color: #FDCB6E;
        }
    }

    &-form {
        min-width: 100%;
        margin: 0 0 8% 0;
        padding: 3% 1%;
        color: #FFF;
        outline: none;
        font-size: 1.2rem;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-width: 1px;
        background-color: inherit;
        transition-duration: 1s;

        &:valid {
            border-color: #FDCB6E;
        }

        &:invalid {
            box-shadow: none;
        }

        &:focus {
            color: #FFF;
            border-bottom-color: #FDCB6E;

            &::placeholder {
                opacity: 0;
            }
        }

        &::placeholder {
            opacity: 0.3;
            font-weight: 500;
            color: #FFF;
            text-transform: uppercase;
        }
    }

    .textarea {
        height: 160px;
    }

    button {
        min-width: 200px;
        min-height: 50px;
        padding: 20px;
        border: 2px solid #FDCB6E;
        color: #FDCB6E;
        opacity: 0.7;
        cursor: pointer;
        letter-spacing: 1px;
        font-size: 1rem;
        text-transform: uppercase;
        background-color: inherit;
        transition: 0.5s;

        &:hover {
            opacity: 1;
            box-shadow: 0px 0px 3px 1px rgba(253, 203, 110, 0.85);
        }
    }

    .footer {
        margin-top: 2%;
        letter-spacing: 1px;
        color: #FFF;

        span {
            color: #FDCB6E;
        }
    }
}

@media (max-width: 992px) {

    .contact {
        padding: 3% 5%;

        &-title {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            padding: 5px 5px;

            span {
                margin: 0 8px;
                font-size: 3rem;
            }
        }

        .linear-border {
            max-width: 80vw;
        }

        &-container {
            max-width: 80vw;
            margin: 10%;
            padding: 8% 8%;
        }

        &-form {
            max-width: 20vw;
        }

        button {
            min-width: 150px;
        }
    }
}